DISCORD_BOT_TOKEN=DISCORD_BOT_TOKEN_HERE
OPENAI_API_KEY=OPENAI_API_KEY_HERE
FAKEYOU_USERNAME=FAKEYOU_EMAIL_HERE
FAKEYOU_PASSWORD=FAKEYOU_PASSWORD_HERE
LOGGING_CHANNEL_ID=LOGGING_CHANNEL_ID_HERE
ALLOWED_GUILD_IDS=SERVER1_ID,SERVER2_ID,SERVER3_ID